
*.aux

*.blg

2015/AB_sol_v4.zip

2015/premaster_2015_A.log

2015/premaster_2015_A.synctex.gz

2015/premaster_2015_B.log

2015/premaster_2015_B.synctex.gz

2015/sources/*.*

2016/demo_16/premaster_16_demo_soln.pdf

2016/demo_16/further_math_16_demo_solutions.pdf

2016/demo_16/premaster_16_demo_text.pdf

2016/olymp_16/materials/

2016/olymp_16/olymp_v4.zip
